* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 'Open Sans', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

header {
  width: 100%;
  height: 100vh;
  background-color: rgb(35, 36, 39);

  h1 {
    color: #dbdbdb;
  }

  form {
    width: 100%;
    max-width: 380px;
    height: 300px;
    background-color: rgb(44, 47, 49);

    input {
      outline: none;
      border: none;
      background-color: rgb(66, 70, 72);;
    }

    button {
      outline: none;
      border: none;
      background-color: #7855c3;
      transition: .3s;
      &:hover {
        background-color: #8f72cd;
      }
    }

    a {
      color: rgb(154, 154, 154);
      &:hover {
        text-decoration: underline !important;
      }
    }
  }
}